<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "header.html" }}

  <div class="container">
    <div class="post">
      <h1>{{ .Title }}</h1>
      <p class="date">by {{ .Params.author }} on {{ dateFormat "2006-01-02" .Date }}</p>

{{ if .IsTranslated }}
<h4>{{ i18n "translations" }}</h4>
<ul>
  {{ range .Translations }}
  <li>
      <a href="{{ .RelPermalink }}">{{ .Lang }}: {{ .Title }}</a>
  </li>
  {{ end}}
</ul>
{{ end }}

      {{ .Content }}

      <h2 id="comments">Comments</h2>
      <div id='discourse-comments'></div>

    </div>
  </div> <!-- container -->

  {{ partial "footer.html" . }}

  <script type="text/javascript">
    DiscourseEmbed = { discourseUrl: 'https://discuss.ipfs.io/',
      discourseEmbedUrl: 'https://ipfs.io/blog/{{ .URL }}' };

    (function() {
      var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
      d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
  </script>

</body>
</html>
