<!DOCTYPE html>
<html lang="en-US">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <div class="container" id="content">
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

      {{ partial "nav.html" . }}

      <div class="post">
          <h1>{{ .Title }}</h1>
          <p>by {{ .Params.author }} on {{ dateFormat "2006-01-02" .Date }}</p>

          {{ .Content }}
      </div>

    </div>
  </div> <!-- container / content -->

  {{ partial "footer.html" . }}

</body>
</html>
