.home {
  .meta {
    float: right;
    font-size: 13px;

    .rss {
      img {
        height: 10px;
      }

      &:hover {
        border-bottom: 0;
      }
    }
  }
}

.post-list {
  li {
    margin-bottom: 10px;
  }

  .summary {
    margin: @space 0;
    h3 {
      margin-bottom: 0;
    }
  }

  .date {
    display: block;
    font-size: 13px;
    color: @gray-light;
  }
}
