<!DOCTYPE html>
<html>

<head>
<title>ipfs blog</title>

<script src="/ipfs/QmUDAZzEgxU3xfXpeAaigh21QesZFLibuPVaJDwE2QdRKP/jquery.min.js"></script>
<script src="/ipfs/QmUDAZzEgxU3xfXpeAaigh21QesZFLibuPVaJDwE2QdRKP/marked.min.js"></script>
<script src="/ipfs/QmUDAZzEgxU3xfXpeAaigh21QesZFLibuPVaJDwE2QdRKP/prettify.min.js"></script>
<script src="/ipfs/QmUDAZzEgxU3xfXpeAaigh21QesZFLibuPVaJDwE2QdRKP/strapdown.js"></script>
<script src="/ipfs/QmUDAZzEgxU3xfXpeAaigh21QesZFLibuPVaJDwE2QdRKP/params.js"></script>
<link rel="stylesheet" href="/ipfs/QmUDAZzEgxU3xfXpeAaigh21QesZFLibuPVaJDwE2QdRKP/themes/bootstrap.min.css" />
<link rel="stylesheet" href="/ipfs/QmUDAZzEgxU3xfXpeAaigh21QesZFLibuPVaJDwE2QdRKP/strapdown.css" />
<link rel="stylesheet" href="/ipfs/QmUDAZzEgxU3xfXpeAaigh21QesZFLibuPVaJDwE2QdRKP/themes/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/ipfs/QmUDAZzEgxU3xfXpeAaigh21QesZFLibuPVaJDwE2QdRKP/blog-style.css" />

</head>
<body>

<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <div id="headline" class="brand">
        <a href="http://ipfs.io/blog">ipfs blog</a> |
          <a href="https://github.com/ipfs/blog/">view source</a>
      </div>
    </div>
  </div>
</div>

<div class="container" id="content">

{% block content %}
  {{ contents }}
{% endblock %}

</div> <!-- container / content -->
</body>
</html>
