<header class="header-has-logo">
  <div class="container cf">
    <h1 class="pull-left">
      <a href="https://ipfs.io/" class="logo ipfs-logo transition transition-fadeout">IPFS</a>
    </h1>
    <nav role="navigation" class="pull-right top-nav top-nav-dark cf">
      <input id="menu-toggle" type="checkbox" class="menu-toggle">
      <label for="menu-toggle">Menu</label>
      <ul class="list-unstyled list-inline cf">
        <li><a href="https://ipfs.io/">About</a></li>
        <li><a href="https://ipfs.io/#implementations">Implementations</a></li>
        <li><a href="https://docs.ipfs.io/guides/guides/install/">Install</a></li>
        <li><a href="https://docs.ipfs.io/">Docs</a></li>
        <li><a href="https://ipfs.io/team">Team</a></li>
        <li><a href="https://ipfs.io/media">Media</a></li>
        <li><a href="{{ "/" | absURL }}" class="current-item">Blog</a></li>
      </ul>
    </nav>
    <div class="hero hero-subdoc"></div>
  </div>
  <div class="view-more">
    <label>View more</label><a href="#"></a>
  </div>
</header>
